<!doctype html>
<html>
	<head>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimal-ui">
	
	<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>

	<link rel="preconnect" href="https://fonts.googleapis.com"> 
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
	<link href="https://fonts.googleapis.com/css2?family=Georama:wght@400;700&family=Roboto&display=swap" rel="stylesheet">

	<style>
	{{{css}}}
	</style>
	
	</head>
	<body>
	
	<div id="resume">
		{{> basics }}
		{{> work }}
		{{> education }}
		{{> volunteer }}
		{{> awards }}
		{{> publications }}
		{{> certificates }}
		{{> skills }}
		{{> languages }}
		{{> interests }}
		{{> references }}
	</body>
</html>
